<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#go">Go</a></li>
    <li><a data-toggle="tab" href="#js">Node</a></li>
    <li><a data-toggle="tab" href="#ts">TypeScript</a></li>
    <li><a data-toggle="tab" href="#py">Python</a></li>
</ul>

<div class="tab-content">
<pre id="go" class="tab-pane fade in active"><code class="language-go">
fmt.Println("Hello World!");
</code></pre>
<pre id="js" class="tab-pane fade"><code class="language-javascript">
console.log("hello world!");
</code></pre>
<pre id="ts" class="tab-pane fade"><code class="language-javascript">
console.log("hello world!");
</code></pre>
<pre id="py" class="tab-pane fade"><code class="language-python">
print("hello world");
</code></pre>
</div>