<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#go">Go</a></li>
    <li><a data-toggle="tab" href="#js">Node</a></li>
    <li><a data-toggle="tab" href="#ts">TypeScript</a></li>
    <li><a data-toggle="tab" href="#py">Python</a></li>
</ul>

<div class="tab-content">
    <div id="go" class="tab-pane fade in active">
        <code>
            fmt.Println("Hello World!");
        </code>
    </div>
    <div id="js" class="tab-pane fade">
        <code>
            console.log("hello world!");
        </code>
    </div>
    <div id="ts" class="tab-pane fade">
        <code>
            console.log("hello world!");
        </code>
    </div>
    <div id="py" class="tab-pane fade">
        <code>
            print("hello world");
        </code>
    </div>
</div>