# General
.DS_Store
Thumbs.db
ehthumbs.db

# HUGO
/public
/resources

# Generated client pages
content/download/*.md
!content/download/_index.md

# Node
node_modules
npm-debug.log

#Eclipse
.project

#IntelliJ IDEA
.idea/
*.iml

