@charset "utf-8"
{{ $fontAwesomeVersion := site.Params.font_awesome_version }}
{{ $fonts := site.Params.fonts }}
{{ if $fonts }}
{{ $fontSlice := (slice) }}
{{ range $fonts }}
{{ $fontSlice = $fontSlice | append (printf "%s:%s" (replace .name " " "+") (delimit .sizes ",")) }}
{{ end }}
{{ $fontsUrl := printf "https://fonts.googleapis.com/css?family=%s" (delimit $fontSlice "|") }}
@import url({{ $fontsUrl }})
{{ end }}

@import url({{ $fontAwesomeVersion }})

{{ with $fontAwesomeVersion }}
{{ $fontAwesomeUrl := printf "https://use.fontawesome.com/releases/v%s/css/all.css" . }}
@import url({{ $fontAwesomeUrl }})
{{ end }}

// Site-specific variables here
$nats-dark: rgb(0, 1, 31)
$nats-blue: #27aae1
$nats-green: #34a574
$nats-dark-blue: #375c93
$nats-light-green: #8dc63f

$reddit-orange: rgba(255, 86, 0, 1)
$slack-purple: rgb(88, 27, 93)
$twitter-blue: rgb(29, 202, 255)

$nats-colors: ("nats-blue": $nats-blue, "nats-green": $nats-green, "nats-dark-blue": $nats-dark-blue, "nats-light-green": $nats-light-green)

@each $name, $color in $nats-colors
  .has-text-#{$name}
    color: $color

// Initial Bulma imports
@import "bulma/sass/utilities/initial-variables"
@import "bulma/sass/utilities/functions"

// Bulma-specific overrides
$primary: $nats-blue
$link: $primary
$code: $nats-dark-blue
$code-background: $white-bis
$dark: $nats-dark
$navbar-height: 4rem
$navbar-item-hover-color: $nats-light-green !important
$navbar-item-hover-background-color: $dark !important
$card-content-padding: 1.75rem

// Font overrides
{{ if $fonts }}
// Sans-serif font
{{ with (index (where $fonts ".type" "sans_serif") 0).name }}
$family-sans-serif: "{{ . }}", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
{{ end }}

// Monospace font
{{ with (index (where $fonts ".type" "monospace") 0).name }}
$family-monospace: "{{ . }}", monospace
{{ end }}
{{ end }}

// Final Bulma imports
@import "bulma/sass/utilities/derived-variables"

$colors: mergeColorMaps(("light-green": ($nats-light-green, $white), "reddit-orange": ($reddit-orange, $white), "twitter-blue": ($twitter-blue, $white), "slack-purple": ($slack-purple, $white)), $colors)

// Bulma core
@import "bulma/sass/utilities/_all"
@import "bulma/sass/base/_all"
@import "bulma/sass/elements/container"
@import "bulma/sass/grid/columns"
// @import "bulma/sass/grid/tiles"
@import "bulma/sass/layout/hero"
@import "bulma/sass/layout/section"
@import "bulma/sass/layout/footer"

// Elements

// @import "bulma/sass/elements/box"
@import "bulma/sass/elements/button"
@import "bulma/sass/elements/content"
@import "bulma/sass/elements/icon"
// @import "bulma/sass/elements/image"
// @import "bulma/sass/elements/notification"
// @import "bulma/sass/elements/progress"
// @import "bulma/sass/elements/table"
// @import "bulma/sass/elements/tag"
@import "bulma/sass/elements/title"
// @import "bulma/sass/elements/other"

// Forms
// @import "bulma/sass/form/shared"
// @import "bulma/sass/form/input-textarea"
// @import "bulma/sass/form/checkbox-radio"
// @import "bulma/sass/form/select"
// @import "bulma/sass/form/file"
// @import "bulma/sass/form/tools"

// Components
// @import "bulma/sass/components/breadcrumb"
@import "bulma/sass/components/card"
// @import "bulma/sass/components/dropdown"
@import "bulma/sass/components/level"
// @import "bulma/sass/components/list"
@import "bulma/sass/components/media"
// @import "bulma/sass/components/menu"
// @import "bulma/sass/components/message"
// @import "bulma/sass/components/modal"
@import "bulma/sass/components/navbar"
// @import "bulma/sass/components/pagination"
// @import "bulma/sass/components/panel"
// @import "bulma/sass/components/tabs"

.repo-link
  color: $dark

  &:hover
    color: $grey

.has-margin-right
  margin-right: 2rem

.is-constrained
  max-width: 90ch

.is-page
  display: flex
  flex-direction: column
  min-height: 100vh

  .is-main
    flex: 1

=logo($desktop, $tablet, $touch)
  +desktop
    width: $desktop
  +tablet-only
    width: $tablet
  +touch
    width: $touch

.is-hero-logo
  +logo(50%, 70%, 90%)

.is-footer-logo
  +logo(25%, 25%, 15%)

.is-cncf-logo
  margin-top: 2rem
  +logo(40%, 70%, 70%)

.logo
  margin: auto auto
  
  +tablet-only
    width: 90%
  +touch
    width: 80%

.is-footer-hr
  margin: 3rem 0
  height: 1px

.content
  figure figcaption
    font-size: 2rem
    font-weight: 600
    font-style: normal !important

  table tr td
    +desktop
      min-width: 20rem
    +mobile
      min-width: 10rem

  hr
    margin: 4rem 0

.is-sticky
  position: sticky
  position: -webkit-sticky
  top: 0

.card + .card
  margin-top: 1.5rem

