
<div id="resources" class="row">
  <div class="col-md-4">
  <ul class="list-unstyled">
    <li><a href="/collateral/Corporate_Vision_Issue_4_2020.pdf#page=23" target="_blank" class=""><i class="fa fa-reports" aria-hidden="true"></i>Corporate Vision Issue 4 2020</a></li>
    <li><a href="/collateral/On_The_Radar_NATS.pdf" target="_blank" class=""><i class="fa fa-reports" aria-hidden="true"></i>Ovum's "On the Radar" Report</a></li>
    <li><a href="https://www.youtube.com/c/nats_messaging/videos" target="_blank" class=""><i class="fa fa-youtube-play" aria-hidden="true"></i> Youtube</a></li>
    <li><a href="https://www.slideshare.net/nats_io/presentations" target="_blank" class=""><i class="fa fa-slideshare" aria-hidden="true"></i> Slideshare</a></li>
  </ul>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/t_USxxOGzcw" allowfullscreen></iframe>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>[SCaLE 13x] Derek Collison | NATS: A new nervous system for distributed cloud platforms</h5>
        <ul class="list-unstyled">
          <li><a target="_blank" href="https://www.slideshare.net/derekcollison/nats-a-new-nervous-system-for-distributed-cloud-platforms">Slidedeck</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/G9XNApxA0UI" allowfullscreen></iframe>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>Simple Solutions for Complex Problems: How Workiva uses NATS as a Microservices and RPC transport</h5>
        <ul class="list-unstyled">
          <li><a target="_blank" href="https://www.slideshare.net/nats_io/simple-solutions-for-complex-problems-boulder-meetup">Slidedeck</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/e_mfyHpVYOk" allowfullscreen></iframe>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>The Zen of High Performance Messaging with NATS by Waldemar Quevedo Salinas</h5>
        <ul class="list-unstyled">
          <li><a target="_blank" href="https://www.slideshare.net/nats_io/the-zen-of-high-performance-messaging-with-nats-76985268">Slidedeck</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
