<ul class="sub-menu list-unstyled">
  {{ $currentNode := . }}

  {{ range .Site.Menus.main }}
  {{ if eq .Identifier "download" }}
  {{ if .HasChildren }}
  <ul class="list-unstyled">
  {{ range .Children }}
    <li>
      <div class="panel panel-default">
        <div class="panel-heading">{{ title .Name }}</div>
        <div class="panel-body">
          {{ if .HasChildren }}
          <ul class="list-unstyled">
            {{ range .Children }}
            <li>
              <span class="main-menu-item-title">{{ title .Name }}</span>
              {{ if .HasChildren }}
              <ul class="list-unstyled">
              {{ range .Children }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
              </ul>
              {{ else }}
              <ul class="list-unstyled">
                <li><a href="mailto:info@nats.io?subject=NATS External Client">Contact us</a> to add your client!</a></li>
              </ul>
              {{ end }}
            </li>
            {{ end }}
          </ul>
          {{ end }}
        </div>
      </div>
    </li>
  {{ end }}
  </ul>
  {{end }}
  {{end }}
  {{end }}
</ul>
