{{ partial "header.html" . }}
<div id="main-con" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>{{ title .Title }}</h1>
        <p>{{ .Params.author }}<br><small>{{ .Date.Format "January 2, 2006" }}</small></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      {{ .Content }}
    </div>
    <div class="col-md-3">
      <div class="well well-sm">
        <!-- Post-specific stats -->
        <strong>Categories</strong>
        <ul class="list-unstyled">
        {{ range .Params.categories }}
            <li><a href="/categories/{{ . | urlize }}">{{ . }}</a></li>
        {{ end }}
        </ul>
        <hr>
        <strong>Tags</strong><br>
        {{ range .Params.tags }}<a class="label label-default" href="/tags/{{ . | urlize }}">{{ . }}</a> {{ end }}
      </div>

    </div>
  </div>
</div>
{{ partial "footer.html" . }}
