{{ define "title" }}
{{ .Title }}
{{ end }}

{{ define "main" }}
{{ $title      := .Title }}
{{ $lang       := .Title }}
{{ $display    := cond (eq .Title "C-sharp") "C#" .Title }}
<section class="hero is-dark is-medium">
  <div class="hero-body">
    <div class="container">
      <p class="title is-size-1 is-size-2-mobile">
        {{ $display }} clients
      </p>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="columns is-multiline is-variable is-8">

    </div>
  </div>
</section>

<section class="section">
  {{ partial "download/clients.html" . }}
</section>
{{ end }}
