{{/* Template for the client listing on every page in the /download domain */}}

{{ $isMain  := eq $.Page.Title "Download" }}
{{ $clients := site.Data.clients }} {{/* All clients */}}
{{ $streaming := (slice) }} {{/* Assemble a list of streaming clients */}}
{{ range $clients }}
{{ $this := . }}
{{ range .clients }}
{{ if .streaming_support }}
{{ $streaming = $streaming | append $this }}
{{ end }}
{{ end }}
{{ end }}
<div class="container content">
  <div class="columns is-variable is-8">
    <div class="column is-two-thirds">
      <p class="is-size-3 has-text-weight-bold">
        NATS
      </p>

      {{ if not $isMain }}
      <div class="buttons">
        <a class="button is-dark is-outlined has-text-weight-bold" href="/download/nats-server">
          NATS server
        </a>
      </div>
      {{ end }}

      <div class="buttons">
        {{ range $clients }}
        {{ template "client" . }}
        {{ end }}
      </div>
    </div>

    <div class="column">
      <p class="is-size-3 has-text-weight-bold">
        NATS Streaming
      </p>

      {{ if not $isMain }}
      <div class="buttons">
        <a class="button is-dark is-outlined has-text-weight-bold" href="/download/nats-streaming-server">
          NATS Streaming Server
        </a>
      </div>
      {{ end }}

      <div class="buttons">
        {{ range $streaming }}
        {{ template "client" . }}
        {{ end }}
      </div>
    </div>
  </div>
</div>

{{/* Inline template for each client button */}}
{{ define "client" }}
{{ $lang    := cond (isset . "language") .language .language_alt }}
{{ $display := cond (eq $lang "C-sharp") "C#" .language }}
{{ $url  := printf "download/%s" ($lang | urlize) | relURL }}
<a class="button is-primary is-outlined has-text-weight-bold" href="{{ $url }}">
  {{ $display }}
</a>
{{ end }}
