{{ $clients   := site.Data.clients }}
{{ $streaming := (slice) }}
{{ range $clients }}
{{ $this := . }}
{{ range .clients }}
{{ if .streaming_support }}
{{ $streaming = $streaming | append $this }}
{{ end }}
{{ end }}
{{ end }}
<div class="container content">
  <div class="columns">
    <div class="column is-two-thirds">
      <p class="is-size-3 has-text-weight-bold">
        NATS
      </p>

      <div class="buttons">
        {{ range $clients }}
        {{ template "client" . }}
        {{ end }}
      </div>
    </div>

    <div class="column">
      <p class="is-size-3 has-text-weight-bold">
        NATS Streaming
      </p>

      <div class="buttons">
        {{ range $streaming }}
        {{ template "client" . }}
        {{ end }}
      </div>
    </div>
  </div>
</div>  

{{ define "client" }}
{{ $lang    := cond (isset . "language") .language .language_alt }}
{{ $display := cond (eq $lang "C-sharp") "C#" .language }}
{{ $url  := printf "download/%s" ($lang | urlize) | relURL }}
<a class="button is-primary is-outlined has-text-weight-bold" href="{{ $url }}">
  {{ $display }}
</a>
{{ end }}
