
// Include base bootstrap
@import "bootstrap/bootstrap.less";

// Include Fonts for use
@import "font-awesome.less";

// Colors
@nats-brand-primary:      #232a45;  // Main Dark blue
@nats-brand-secondary:    #27aae1;  // Light Blue - Logo
@nats-brand-ternary:      #8dc63f;  // Light Green - Logo
@nats-brand-quaternary:   #34a574;  // Dark green - Logo
@nats-brand-quinary:      #375c93;  // Dark Blue - Logo

// Nats new colour scheme
@nats-brand-background:   #00011f;
@nats-colour-blue-lite:   #23a9e1;
@nats-colour-blue-dark:   #365d95;
@nats-colour-green-lite:  #8dc641;
@nats-colour-green-dark:  #30a675;

@nats-brand-gray-light:   #f5f6f9;
@nats-brand-gray:         #c0c1c4;
@nats-brand-gray-dark:    #666;

// Variable Overrides
@text-color:              @nats-brand-gray-dark;
@font-family-sans-serif:  'Source Sans Pro', sans-serif;
//@font-size-base:          16px;
@link-color:              @nats-brand-secondary;
@link-hover-color:        darken(@link-color, 15%);

// Navbar
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:            @screen-md-min;
// Basics of a navbar
@navbar-height:                    77px;
@navbar-margin-bottom:             @line-height-computed;
@navbar-border-radius:             @border-radius-base;
@navbar-padding-horizontal:        floor((@grid-gutter-width / 2));
@navbar-padding-vertical:          ((@navbar-height - @line-height-computed) / 2);
@navbar-collapse-max-height:       340px;

@navbar-default-color:             #fff;
@navbar-default-bg:                @nats-brand-background;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);

// Navbar links
@navbar-default-link-color:                #fff;
@navbar-default-link-hover-color:          #fff;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         #fff;
@navbar-default-link-active-bg:            transparent;
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         lighten(@nats-brand-primary, 10%);
@navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
@navbar-default-toggle-hover-bg:           lighten(@nats-brand-primary, 10%);
@navbar-default-toggle-icon-bar-bg:        #fff;
@navbar-default-toggle-border-color:       #fff;

//== Carousel
@carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6);

@carousel-control-color:                      #fff;
@carousel-control-width:                      15%;
@carousel-control-opacity:                    .5;
@carousel-control-font-size:                  20px;

@carousel-indicator-active-bg:                @nats-brand-secondary;
@carousel-indicator-border-color:             @nats-brand-secondary;

@carousel-caption-color:                      #fff;

//== Pills
@nav-pills-active-link-hover-bg:            @component-active-bg;
@nav-pills-active-link-hover-color:         @component-active-color;

// Code
@code-color:                  @nats-brand-gray-dark;
@code-bg:                     #eee;

// Footer
@footer-text-color:       @nats-brand-gray;
@footer-link-hover:       @nats-brand-secondary;
@footer-link:             @nats-brand-secondary;

// #############################################################################

// General Styles
html {
  background-color: @nats-brand-gray-light;
}
body {
  background-color: #fff;
  padding-top: 75px;
  font-size: 16px;

  #main-con {
    margin-bottom: 30px;
  }
}
// Anchor fix for sticky header
a[name]:before {
  display: block;
  content: " ";
  margin-top: -85px;
  height: 77px;
  visibility: hidden;
}

// Colour text
.nats-colour-blue-lite {
  color: @nats-colour-blue-lite;
}
.nats-colour-blue-dark {
  color: @nats-colour-blue-dark;
}
.nats-colour-green-lite {
  color: @nats-colour-green-lite;
}
.nats-colour-green-dark {
  color: @nats-colour-green-dark;
}

// Social Icons
.social-icon {
  display: inline-block;
  position: relative;
  top: 1px;
  width: 50px;
  height: 50px;
  margin: 0px -5px -16px -5px;
}
.twitter-icon {
  background-image: url(/img/social/twitter-lrg-icon.png);
}

// Labels
.label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// Tables
table {
  .table();
  .table-striped();
}

// Navbar
nav.navbar-default {
  background: @nats-brand-background url(/img/header-background.png) repeat-x top center;

  .navbar-brand {
    padding: 0px 0px 0px 0px;
    img {
      height: 100%;
    }
  }
  ul.navbar-nav {
    font-size: 18px;
    li {
      .dropdown-menu {
        font-size: 14px;
        .dropdown-header {
          font-size: 14px;
          color: @nats-brand-gray;
        }
        .divider {
          background-color: @nats-brand-gray-dark;
        }
      }
      @media (min-width: @screen-md-min) {
        a {
          padding: 28px 0px 12px 0px;
          margin: 0px 15px 17px;

        }
        a:hover, a:active, a:focus, &.active a {
          outline: 0;
          border-bottom: 1px solid #fff;
          padding: 28px 0px 12px 0px;
          margin: 0px 15px 16px;

        }
      }
      @media (max-width: @screen-md-min) {
        a:hover, a:active, a:focus, &.active a, &.active a:hover {
          outline: 0;
          background-color: lighten(@nats-brand-primary, 10%);
        }
        &.active, &.open {
          a.main-item,
          a.main-item:hover {
            background-color: lighten(@nats-brand-primary, 10%);
          }
        }
        &.active, &.open {
          ul {
            li.active {
              a.sub-item {
                background-color: lighten(@nats-brand-primary, 10%);
                &:hover, &:active, &:focus {
                  background-color: lighten(@nats-brand-primary, 10%);
                }
              }
            }
          }
          a.sub-item {
            background-color: transparent;
            &:hover, &:active, &:focus {
              background-color: lighten(@nats-brand-primary, 10%);
            }
          }
        }
        a.sub-item:hover {
          background-color: lighten(@nats-brand-primary, 10%);
        }
      }

    }

  }
  &.home-page {

  }
}

// Home Page
html#home-html {
  background-color: @nats-brand-background;
}
#home-page {
  background-color: @nats-brand-background;

  .navbar-default {
    background: @nats-brand-background;
    border-color: transparent;
    .container {
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .background-con {
    background: url(/img/home-background.jpg) repeat-x center bottom;
  }
  .homepage-brand {
    display: block;
    width: 458px;
    margin-bottom: 30px;
    .center-block();
  }
  #homepage-content {
    padding-top: 60px;
    text-align: center;

    h1 {
      font-size: 42px;
      margin-bottom: 15px;
    }
    .lead {
      font-family: @font-family-sans-serif;
      font-weight: 200;
      color: #fff;
      font-size: 34px;
      margin-bottom: 275px;
    }
    .extra-info {
      font-weight: 100;
      font-size: 24px;
      word-break: keep-all;
      margin-bottom: 80px;

      a.nats-colour-blue-lite {
        margin-right: 15px;
        line-height: 50px;

        &:visited, &:hover {
          color: @nats-colour-blue-lite;
          text-decoration: none;
        }
      }
      a.nats-colour-green-lite {
        margin-bottom: 10px;

        &:visited, &:hover {
          color: @nats-colour-green-lite;
          text-decoration: none;
        }
      }
    }
  }
  @media (max-width: @screen-xs-max) {
    .background-con {
      background: url(/img/home-background-sm.jpg) repeat-x center bottom;
    }
    .homepage-brand {
      width: 300px;
    }
    #homepage-content {
      padding-top: 0px;
      h1 {
        font-size: 28px;
      }
      .lead {
        font-size: 18px;
        margin-bottom: 190px;
      }
      .extra-info {
        font-size: 18px;
        margin-bottom: 50px;
      }
    }
  }
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .homepage-brand {
      width: 350px;
    }
    #homepage-content {
      padding-top: 30px;
      h1 {
        font-size: 34px;
      }
      .lead {
        font-size: 24px;
        margin-bottom: 350px;
      }
      .extra-info {
        font-size: 24px;
      }
    }
  }
}
// End Home

// About Page
#about-page {
  #main-con {
    background: url(/img/about-neuron.png) right top no-repeat;
  }
  .page-header {
    border-bottom: none;
    h1 {

    }
  }
  #canvas-con {
    canvas#throughputChart {

    }
  }
  .embed-responsive {
    margin-bottom: 30px;
  }
  // Recent Posts
  #recent-posts {

    h4 {
      margin-bottom: 0px;
    }
    p {
      margin-bottom: 15px;
    }

  }

  // Quotes Carousel
  #quote-carousel-con {
    padding: 60px 20px;
    position: relative;

    #quote-carousel {
      position: static;

      ul.carousel-inner {
        margin: 0px;
        padding: 0px;

        li {
          .quote-con{
            height: 275px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .quote-inner {
              text-align: center;
              p {
                  margin-bottom: 15px;
              }
              a.quote-logo {
                display: block;
                margin: 0 auto;
                margin-bottom: 15px;
              }
            }
            // Breakpoint adjustments for quotes
            @media (max-width: @screen-xs-max) {
              height: 500px;
            }
            @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
              height: 325px;
            }
            @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
              height: 325px;
            }
          }
        }
      }
    }
  }
}
// End About

// Community
#community-page {
  #main-con {
    background: url(/img/about-neuron.png) right top no-repeat;
  }
  .page-header {
    border-bottom: none;
    h1 {

    }
  }
  .community-notice-panel {
    text-align: center;
  }
  .meetup-con {
    padding-top: 20px;
  }
  @media (max-width: @screen-sm-max) {
    .meetup-con {
      text-align: center;
    }
  }
  .partners-con {
    display: flex;
    align-items: center;
    justify-content: center;
    .col-md-3 {

      a {
        img {
          margin: 0 auto;
        }
      }
    }
  }
}

// Downloads
#download-page {
  #main-con {
    background: url(/img/about-neuron.png) right top no-repeat;
  }
  .page-header {
    border-bottom: none;
    h1 {

    }
  }
  .panel-default {
    min-height: 200px
  }
  .download-server,
  .download-client {
    h3,h4,h5 {
      margin-top: 0px;
    }
    .title-con {
      h3 {
        margin-bottom: 5px;
      }
    }
    .release-con {
      h4 {
        font-weight: bold;;
        font-size: 16px;
        margin-bottom: 5px;
      }
    }
    .download-con {
      margin-bottom: 15px;
      h4 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      dl {
        dt {
          font-weight: bold;
          margin-bottom: 5px;
        }
      }
    }
    .supported {
      font-size: 17px;
      font-weight: 100;
      img {
        margin-top: -2px;
        margin-left: 5px;
      }
    }
  }
  .download-server-con {

  }
  .download-clients-con {
    margin-bottom: 30px;
  }
  .external-clients-con {
    text-align: center;
    font-size: 22px;
    margin-bottom: 25px;
  }
}

// Support
#support-page {
  #main-con {
    background: url(/img/about-neuron.png) right top no-repeat;
  }
  .page-header {
    border-bottom: none;
    h1 {

    }
  }
  table#support-table {
    thead {
      background: @nats-brand-primary;
      color: #fff;
      tr {
        th {
          border: none;
          text-align: center;
        }
      }
    }
    tbody {

      tr {
        td:first-child {
          background: @nats-brand-gray-light;
        }
        td:nth-child(2),
        td:nth-child(3) {
          text-align: center;
        }
      }
    }
  }
}

// Documentation
#nats-documentation-detail-page {
  #documentation-content {
    background: url(/img/about-neuron.png) right top no-repeat;
    padding-top: 20px;
  }
  // Left Nav
  #left-nav-con {
    padding-top: 40px;
    ul.sub-menu {
      li {
        &.main-menu-item {
          margin-bottom: 15px;
        }
        .main-menu-item-title {
          font-size: 18px;
          color: @nats-brand-primary;
        }
        &.active {
          a.main-menu-item-title {
            font-weight: bold;
            color: @nats-brand-primary;
          }
        }

        ul {
          padding: 2px 0px 20px 0px;
          li {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &.active {
              font-weight: bold;

              a {

              }
            }
            a {

            }
          }
        }
      }
    }
  }
}

// Blog
#blogs-page {
  #main-con {
    background: url(/img/about-neuron.png) right top no-repeat;
  }
  .page-header {
    border-bottom: none;
    h1 {

    }
  }
  .tweet-embed-con {
    padding: 10px 0px;
    iframe {
      margin: 0px auto;
    }
  }
  dl.blog-entry-meta {
    dt {

    }
    dd {
      margin-bottom: 10px;
    }
  }
}
#blog-post-page {
  #main-con {
    background: url(/img/about-neuron.png) right top no-repeat;
  }
  .page-header {
    border-bottom: none;
    h1 {

    }
  }
  .blog-nav-con-upper {
    padding-top: 30px;
  }
}

// Footer
footer {
  background-color: @nats-brand-gray-light;
  color: @footer-text-color;
  padding-top: 30px;
  padding-bottom: 60px;
  .container {

  }

  .copyright {
    font-size: 14px;
  }
  .supported {
    text-transform: uppercase;
  }
}
