{{ partial "header.html" . }}
<div id="main-con" class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="page-header">
        <h1>NATS Blog</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      {{ range (.Paginator 10).Pages }}
      <div class="row">
        <div class="col-md-12">
          <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a><br></h4>
          <p>By: <strong>{{ .Params.author }}</strong> - Date: <strong>{{ .Date.Format "January 2, 2006" }}</strong></p>
          <p>{{ .Summary }} <a href="{{ .RelPermalink }}">Read More&#8230;</a></p>
        </div>
      </div>
      <hr>
    	{{ end }}
      {{ template "_internal/pagination.html" . }}
    </div>
    <div class="col-md-3">

      {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
        <h3>{{ title $taxonomyname }}</h3>
        {{ if eq $taxonomyname "tags" }}
          {{ range $key, $value := $taxonomy }}
          <a class="label label-default" href="/tags/{{ $key | urlize }}">{{ $key }}</a>
          {{ end }}
        {{ else if eq $taxonomyname "categories" }}
          <ul class="list-unstyled">
          {{ range $key, $value := $taxonomy }}
            <li><a href="/categories/{{ $key | urlize }}">{{ title $key }}</a></li>
          {{ end }}
          </ul>
        {{ end }}
      {{ end }}

      <hr>
      <p><a href="/blog/index.xml"><i class="fa fa-rss-square" aria-hidden="true"></i> Subscribe!</a></p>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
