{{ partial "header.html" . }}
<div id="main-con" class="container">
  <div class="row">
    <div class="col-md-12">
      {{.Content}}

      <div class="row">
        <div class="col-md-6">
          <p>Written in Go, NATS is available as a client for approximately a dozen languages, many of which are supported by the Apcera team. Here’s the full list of <a href="/download">NATS clients</a>.</p>
        </div>
        <div class="col-md-6">
          <p>NATS is unique in its simplicity and performance, and as a result powers some of the largest production environments.. You can learn more about the design characteristics in the <a href="/documentation/faq/">NATS FAQ</a>.</p>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-12">
          <h3>Resources</h3>
          Derek’s youtube video (already on the site)
          Tyler Treat’s talk on NATS: https://www.youtube.com/watch?v=4GIt2JIf6So&index=14&list=PLCafzSCWOqrJhOBt8lPgd_7XpO8dm5uGF
          Add links to a few great NATS presentations on slideshare:

        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-12">
          <h3>Recent Posts</h3>
          {{ partial "recent-posts.html" . }}
        </div>
      </div>

    </div>
  </div>
</div>
{{ partial "footer.html" . }}
