<h2>Connectors and Utilities</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="col-md-2">Name</th>
            <th class="col-md-7">Description</th>
            <th class="col-md-2">Developer</th>
            <th class="col-md-1">Support</th>
        </tr>
        </thead>
        <tbody>

        {{ range .Site.Data }}
        {{ range .addons }}
            <tr>
                <td><a href="{{ .home }}" target="_blank">{{ .name }}</a></td>
                <td>{{ .description }}</td>
                <td>{{ range $i, $e := .authors }}{{ if $i }}, {{ end }}{{ if $e.authorHome }}<a href="{{ $e.authorHome }}" target="_blank">{{ end }}{{ $e.author }}{{ if $e.authorHome }}</a>{{ end }}{{ end }}</td>
                <td>{{ .support }}</td>
            </tr>
        {{ end }}
        {{ end }}
        </tbody>
    </table>
</div>
