<h2>Connectors and Utilities</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="col-md-2">Name</th>
            <th class="col-md-7">Description</th>
            <th class="col-md-2">Developer</th>
            <th class="col-md-1">Support</th>
        </tr>
        </thead>
        <tbody>

        {{ range site.Data.addons }}
            <tr>
                <td><a href="{{ .home }}" target="_blank">{{ .name }}</a></td>
                <td>{{ .description }}</td>
                <td>{{ if .authorHome }}<a href="{{ .authorHome }}" target="_blank">{{ end }}{{ .author }}{{ if .authorHome }}</a>{{ end }}</td>
                <td>{{ .support }}</td>
            </tr>
        {{ end }}
        </tbody>
    </table>
</div>