<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<!-- Viz Support -->
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/viz.js/1.7.1/viz.js"> </script>

<!-- Site code -->
<script>
    function copyToClipboard(text, el) {
        var copyTest = document.queryCommandSupported('copy');
        var elOriginalText = el.attr('data-original-title');

        if (copyTest === true) {
            var copyTextArea = document.createElement("textarea");
            copyTextArea.value = text;
            document.body.appendChild(copyTextArea);
            copyTextArea.select();
            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'Copied!' : 'Whoops, not copied!';
                el.attr('data-original-title', msg).tooltip('show');
            } catch (err) {
                console.log('Oops, unable to copy');
            }
            document.body.removeChild(copyTextArea);
            el.attr('data-original-title', elOriginalText);
        } else {
            // Fallback if browser doesn't support .execCommand('copy')
            window.prompt("Copy to clipboard: Ctrl+C or Command+C, Enter", text);
        }
    }

    function processGraphVizSections(elements) {
        var elements = document.querySelectorAll("[data-viz]");
        Array.prototype.forEach.call(elements, function(x){
            var engine = x.getAttribute("data-viz");
            //var image = new DOMParser().parseFromString(Viz(x.innerText, {format:"svg", engine:engine}), "image/svg+xml");
            //x.parentNode.insertBefore(image.documentElement, x);
            var image = Viz(x.innerText, { format: "png-image-element", engine:engine });
            x.parentNode.insertBefore(image, x);
        });


    };
    
    function updateLanguageParameter(value) {
        const param = "lang";

        if (window.location.href.indexOf("?") >= 0) {
            const regExp = new RegExp(param + "(.+?)(&|$)", "g");
            const newUrl = window.location.href.replace(regExp, param + "=" + encodeURIComponent(value) + "$2");
            window.history.pushState("", "", newUrl);
        } else {
            const newUrl = window.location.href + "?" + param + "=" + encodeURIComponent(value);
            window.history.pushState("", "", newUrl);
        }
    }
    
    function getLanguageParameter() {
        var match = RegExp('[?&]lang=([^&]*)').exec(window.location.search);
        return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
    }

    $(document).ready(function() {
        checkTrack();
        $('.js-tooltip').tooltip({container: "body"});
        $('.js-copy').click(function() {
            var el = $(this);
            var text = $(this).parents('pre').find('code').first().text();
            copyToClipboard(text, el);
        });

        $('.api-lang').click(function() {
            var curLang = sessionStorage.getItem('nats-api-language');
            var lang = $(this).data('language');

            // Stop the infinite loop
            if (curLang == lang) {
                return;
            }

            sessionStorage.setItem('nats-api-language', lang); // So we only do this 1x

            updateLanguageParameter(lang)
            
            $('.nav-tabs .api-lang[data-language='+lang+'] a').trigger('click');
        });

        if (sessionStorage) {
            var curLang = sessionStorage.getItem('nats-api-language');
            var queryLang = getLanguageParameter();

            if(queryLang) { // query takes precedent
                sessionStorage.setItem('nats-api-language', queryLang); // So we only do this 1x
                $('.nav-tabs .api-lang[data-language='+queryLang+'] a').trigger('click');
            } else if (curLang) {
                $('.nav-tabs .api-lang[data-language='+curLang+'] a').trigger('click');
            }
        }

        setTimeout(function() {
            processGraphVizSections();
        }, 1);
    });

    $('#priv').on('click', function(e) {
        openPrivacy();
    });
</script>

<script src="/js/index.js"></script>
<!-- Github Buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-go.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-bash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-javascript.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-python.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-clike.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-java.min.js"></script>
<!-- Google Analytics Configuration - scripts added dynamically after user opts in or out-->
<script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', getGAKey(), {
        cookieExpires: 0
    });
    ga('set', 'anonymizeIp', true);
    ga('send', 'pageview');
</script>
<!-- End Google Analytics -->