<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

<!-- Open Graph -->
{{ template "_internal/opengraph.html" . }}

<!-- Twitter Card -->
{{ template "_internal/twitter_cards.html" . }}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6242VH03CH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6242VH03CH');
</script>
