{{ $title := site.Title }}
{{ $home  := site.BaseURL }}
{{ $menu  := site.Menus.main }}
{{ $here  := .RelPermalink }}
<nav class="navbar is-dark is-fixed-top is-transparent">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ $home }}">
        {{ partial "logo.html" (dict "logo" "navbar") }}
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        {{ range $menu }}
        {{ $isExternal := hasPrefix .URL "http" }}
        <a class="navbar-item has-text-weight-bold" href="{{ .URL }}"{{ if $isExternal }} target="_blank"{{ end }}>
          <span>
            {{ .Name }}
          </span>
          {{ if $isExternal }}
          <span class="icon has-text-primary">
            <i class="fas fa-sm fa-external-link-alt"></i>
          </span>
          {{ end }}
        </a>
        {{ end }}

        <div class="navbar-item">
          {{ partial "social-buttons.html" (dict) }}
        </div>
      </div>
    </div>
  </div>
</nav>
