<h2>Coming Events</h2>
<p>Join <a href="http://www.meetup.com/NATS-Cloud-Native-Meetup/" target="_blank">NATS Cloud Native Meetup.com Group</a> to receive updates on upcoming meetups.</p>

<ul class="list-unstyled row">
    {{ range .Site.Data }}
    {{ range .events }}

    <li class="col-md-6">
        <h4>{{ .venue }}</h4>
        <ul class="list-unstyled">
            <li><strong>When:</strong>{{ .when }}</li>
            <li><strong>Who:</strong>{{ .who }}</li>
            <li><strong>What:</strong>{{ .what }}</li>
            <li><strong>Where:</strong>{{ .where }}</li>
            <li><a href="{{ .ref }}" target="_blank">More Information</a></li>
        </ul>
    </li>
    {{ end }}
    {{ end }}
</ul>
