<h2>Partners</h2>
<p class="lead">We work with a variety of companies to ensure NATS is delivered in a broad range of solutions used by
    our community</p>

<div class="row partners-logos">
    {{ range $.Site.Data }}
    {{ range .partners }}
    <div class="col-xs-6 col-md-4">
        <a target="_blank" href="{{ .home }}"><img src="{{ .logo }}" class="img-responsive" alt="{{ .name }}"></a>
    </div>
    {{ end }}
    {{ end }}
</div>


<p class="text-center"><a href="mailto:info@nats.io">Contact us to Partner.</a></p>
