<h2>NATS is the most Performant Cloud Native messaging platform available</h2>
<p class="lead">With gnatsd (Golang-based server), NATS can send up to <strong>6 MILLION MESSAGES PER SECOND</strong>.</p>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>Here's a detailed <a href="http://www.bravenewgeek.com/dissecting-message-queues/" target="_blank">Performance Comparison</a> between NATS, Redis, NSQ, RabbitMQ, and more. The below chart compares throughput for 4k payloads:</p>
    <div id="performance-graph">
      <a class="graph-con" href="http://www.bravenewgeek.com/dissecting-message-queues/" target="_blank">
        <img src="/img/nats-brokered-throughput-comparison.png">
      </a>
      <sub>(Chart source: <a href="http://www.bravenewgeek.com/dissecting-message-queues/"  target="_blank">bravenewgeek.com/dissecting-message-queues</a>)</sub>
    </div>
  </div>
</div>
