<div id="quote-carousel-con">
  <div id="quote-carousel" class="carousel slide clearfix" data-ride="carousel" data-interval="4000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#quote-carousel" data-slide-to="1"></li>
      <li data-target="#quote-carousel" data-slide-to="2"></li>
      <li data-target="#quote-carousel" data-slide-to="3"></li>
      <li data-target="#quote-carousel" data-slide-to="4"></li>
      <li data-target="#quote-carousel" data-slide-to="5"></li>
      <li data-target="#quote-carousel" data-slide-to="6"></li>
      <li data-target="#quote-carousel" data-slide-to="7"></li>
    </ol>
    <!-- Wrapper for slides -->
    <ul class="carousel-inner" role="listbox">
      <li class="item active">
        <div class="quote-con">
          <div class="quote-inner">
            <p class="lead">"We considered a number of modern messaging platforms.  NATS was the clear choice because it’s the highest-performance message broker we could find, and it solidly supports all the languages in our stack. Because of its clean design, it was easy for us to get up to speed with NATS and it gives us the scalability and responsiveness we need."</p>
            <a class="quote-logo" href="http://www.acadiant.com/" target="_blank"><img src="/img/user_logos/acadiant.png" alt="Acadiant"></a>
            <p><strong>&mdash;Bill Chute, Acadiant Limited</strong></p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="quote-con">
          <div class="quote-inner">
            <p class="lead">"NATS has the same attributes that we love with Go - Simplicity and Performance. We build a lot of micro service APIs, and NATS is a great message system to glue these services together. We really feel that NATS is providing minimal configuration, minimal footprint and maximum performance and stability."</p>
            <a class="quote-logo" href="http://www.adxtosolutions.com/" target="_blank"><img src="/img/user_logos/adxtosolutions.png" alt="Adxto Solutions"></a>
            <p><strong>&mdash;David V. Wallin, CTO and Development Manager, AdXto Solutions AB</strong></p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="quote-con">
          <div class="quote-inner">
            <p class="lead">"NATS resonated with us because of its simplicity. We found the overhead of the team learning and configuring Rabbitmq to be a pain. This resulted in difficult debugging and testing. So, before developing any more services on top of rabbitmq, we decided to have a look around for different solutions, and decided NATS was the right solution for us."</p>
            <a class="quote-logo" href="http://happyinspector.com" target="_blank"><img src="/img/user_logos/happyco.png" alt="Happyco"></a>
            <p><strong>&mdash;Andrew Mackenzie-Ross, CTO at HappyCo</strong></p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="quote-con">
          <div class="quote-inner">
            <p class="lead">"The simplicity and focus of NATS enables it to deliver superior performance and stability with a lightweight footprint. It has the potential of becoming the de-facto transport for microservice architectures and event driven systems in this new era."</p>
            <p><strong>&mdash;Asim Aslam, Founder, MyODC.io</strong></p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="quote-con">
          <div class="quote-inner">
            <p class="lead">"We chose NATS over other messaging platforms because it is as easy to deploy as it is to use, giving freedom to the developer to build a platform without limitations or hidden assumptions."</p>
            <a class="quote-logo" href="http://carrenza.com" target="_blank"><img src="/img/user_logos/carrenza.png" alt="Carrenza"></a>
            <p><strong>&mdash;Raül Pérez, Senior Engineer at Carrenza</strong></p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="quote-con">
          <div class="quote-inner">
            <p class="lead">"We always come back to NATS for two reasons: speed and simplicity.  NATS performance exceeds any demands that we could ever place on it, and it can be deployed and configured in seconds. This gives us the advantage of scale and the flexibility to meet our customers needs.  Whether its interservice communication for microservices architectures or low-latency, highly-transactional applications, NATS is the backbone of our distributed systems."</p>
            <a class="quote-logo" href="http://www.williamsgarcia.com/" target="_blank"><img src="/img/user_logos/wg.png" alt="W&amp;G"></a>
            <p><strong>&mdash;David Williams, Partner at Williams &amp; Garcia</strong></p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="quote-con">
          <div class="quote-inner">
            <p class="lead">"NATS is clearly leading the messaging technology pack when it comes to performance, scalability, simplicity, and ease of use. These metrics made it the clear choice for our development team who are busy building our next-generation call-center platform."</p>
            <a class="quote-logo" href="http://www.avoxi.com/" target="_blank"><img src="/img/user_logos/avoxi.jpg" alt="AVOXI"></a>
            <p><strong>&mdash;Leif Madsen - Director of Engineering, Product Development, AVOXI</strong></p>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="quote-con">
          <div class="quote-inner">
            <p class="lead">"I discovered NATS for its performance, and stayed for its simplicity. It’s been a wonderfully reliable layer that connects our microservice architecture at Pressly. The source is easily readable and approachable, and the future developments keep me excited!"</p>
            <a class="quote-logo" href="http://pressly.com/" target="_blank"><img src="/img/user_logos/pressly.png" alt="Pressly"></a>
            <p><strong>&mdash;Peter Kieltyka - CTO, Pressly</strong></p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
