<ul class="list-unstyled download-list">
{{ range .Releases }}
{{ if and (ne .name "gnatsd") (ne .name "nats-server") }}
  <li>
    <div class="panel panel-default">
      <div class="panel-body">

        <div class="row">
          <div class="col-md-3">
            <h3>{{ .name }}{{ if in .type "client" }} Client{{ else if in .type "server" }} Server{{ end }}</h3>
            {{ if in .type "supported" }}<p>Supported by Apcera</p>{{ end }}
          </div>
          <div class="col-md-6">
            {{ if .release_notes }}
            <h4>Release Notes:</h4>
            {{ .release_notes | safeHTML }}
            {{ else }}
            <p>No release notes.</p>
            {{ end }}
          </div>
          <div class="col-md-3">
            {{ if .downloads }}
            <dl>
              <dt>Download</dt>
              {{ range .downloads }}
              <dd><a href="{{ .url }}">{{ .name }}</a></dd>
              {{ end }}
            </dl>
            {{ end }}
          </div>
        </div>

      </div>
    </div>
  </li>
{{ end }}
{{ end }}
</ul>
