<div class="row">
  {{ range .Releases }}
  {{ if ne .name "NATS Server" }}
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body download-client">

        <div class="row">
          <div class="col-md-7 title-con">
            <h3>{{ .name }}{{ if in .type "client" }} Client{{ end }}</h3>
            {{ if .supported }}<p class="supported">Supported by <img src="/img/logo-sm.png" alt="Apcera" /></p>{{ end }}
            <p class="supported">View on Github</p>
          </div>
          <div class="col-md-5 download-con">
            <div class="download-con">
              <h4>Download</h4>
              <p><a href="{{ .repo_url }}">View on Github</a></p>
            </div>
            <div class="release-con">
              {{ if .release_notes }}
              <h4>Release Notes:</h4>
              {{ .release_notes | safeHTML }}
              {{ else }}
              <p>No release notes.</p>
              {{ end }}
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}
</div>
