<h2>Office Hours</h2>
<p> Feel free to drop by <a href="https://github.com/nats-io/gnatsd#nats-office-hours" target="_blank">NATS Office Hours</a> to ask questions, cover issues, or just listen in and learn more about NATS.</p>
<h2>NATS Newsletter</h2>
<p>Stay up to date with the latest information on NATS.</p>
<a class="btn btn-primary" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSd_MAN1MCDpSbZT7hrXmohGNpT0sUtxDCCOBJhmo_t2gvdHhQ/viewform">Sign Up!</a>
<div id="social-con">
    <h2>Social</h2>
    <ul class="social-list list-inline">
        <li><a target="_blank" href="https://twitter.com/nats_io"><i class="icon-twitter"></i></a></li>
        <li><a target="_blank" href="https://groups.google.com/forum/#!forum/natsio"><i class="icon-google-plus"></i></a></li>
        <li><a target="_blank" href="https://github.com/nats-io"><i class="icon-github"></i></a></li>
        <li><a target="_blank" href="https://join.slack.com/t/natsio/shared_invite/enQtMzE2NDkxNDI2NTE1LTc5ZDEzYTkwYWZkYWQ5YjY1MzBjMWZmYzA5OGQxMzlkMGQzMjYxNGM3MWYxMjNiYmNjNzIwMTVjMWE2ZDgxZGM"><img alt="Slack" src="/img/social/slack.png"/></a></li>
        <li><a target="_blank" href="https://www.reddit.com/r/nats_io"><img alt="reddit" src="/img/social/reddit.png"/></a></li>
    </ul>
</div>