<h2>Office Hours</h2>
<p> NATS Office Hours will be on hiatus for the US summer season. Please join our <a href="https://slack.nats.io" target="_blank">Slack</a> channel or <a href="https://groups.google.com/forum/#!forum/natsio" target="_blank">Google Group</a> to chat with our maintainers.</p>
<h2>NATS Newsletter</h2>
<p>Stay up to date with the latest information on NATS.</p>
<a class="btn btn-primary" target="_blank" href="https://goo.gl/forms/TFoKVm7yzU4ucM9i2">Sign Up!</a>
<div id="social-con">
    <h2>Social</h2>
    <ul class="social-list list-inline">
        <li><a target="_blank" href="https://twitter.com/nats_io"><i class="icon-twitter"></i></a></li>
        <li><a target="_blank" href="https://groups.google.com/forum/#!forum/natsio"><i class="icon-google-plus"></i></a></li>
        <li><a target="_blank" href="https://github.com/nats-io"><i class="icon-github"></i></a></li>
        <li><a target="_blank" href="https://slack.nats.io"><img alt="Slack" src="/img/social/slack.svg"/></a></li>
        <li><a target="_blank" href="https://www.reddit.com/r/nats_io"><img alt="reddit" src="/img/social/reddit.png"/></a></li>
    </ul>
</div>