<h2>Ways to Contribute</h2>
<p>The best way to get started contributing to NATS is to read our <a href="/contributing/">Contributor's Guide</a>. Here are some examples of how you can contribute:</p>
<ul class="list-bullet-indent">
    <li>Report or Fix Bugs</li>
    <li>Add or Propose New Features</li>
    <li><a href="https://github.com/nats-io/nats-site#adding-documentation" target="_blank">Improve Our Documentation</a></li>
    <li>Add or Update Client Libraries</li>
    <li><a href="mailto:info@nats.io">Host a Meetup</a></li>
    <li><a href="https://github.com/nats-io/" target="_blank">Improve this website</a></li>
</ul>

<p>Please <a href="mailto:info@nats.io?subject=NATS suggestions">contact us</a> with any other suggestions.</p>

