{{ define "main" }}
{{ partial "hero.html" . }}


<section class="section is-medium has-background-white">
    <div class="columns is-centered">
        
        <div class="column has-text-centered is-one-half is-size-5">
            <div class="is-size-2">Whoops!</div>
        It looks like you have followed a broken link or entered a URL that doesn't exist on this site. <br>
    Can't find what you're looking for? Join our <a href="https://slack.nats.io" target="_blank">Slack Community</a>.<br></br>
          <a class="button is-normal is-primary has-text-weight-bold" href="https://nats.io">
            Back to Home
          </a>
        </div>
      </div>
    </div>
</section>
<section class="section is-medium has-background-white">


</section>


{{ end }}