<section class="section">
  <div class="container">
    <div class="columns is-variable is-8">
      <div class="column is-two-thirds">
        <div class="content is-medium">
          {{ .Content }}
        </div>

        <br />

        <a class="button is-dark is-outlined" href="/blog">
          <span class="icon">
            <i class="fas fa-arrow-left"></i>
          </span>
          <span>
            Back to blog
          </span>
        </a>
      </div>

      <div class="column">
        <hr class="is-hidden-tablet" />

        <p class="title">
          Categories
        </p>

        <div class="buttons are-small">
          {{ range .Params.categories }}
          <a class="button is-dark is-outlined" href="/categories/{{ . | lower }}">
            {{ . }}
          </a>
          {{ end }}
        </div>

        <br />

        <p class="title">
          Tags
        </p>

        <div class="buttons are-small">
          {{ range .Params.tags }}
          <a class="button is-dark is-outlined" href="/tags/{{ . | lower }}">
            {{ . }}
          </a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
