
<div id="sticky-banner" tabindex="-1" class="notification is-info has-text-centered sticky-notification fixed top-0 start-0 z-50 flex justify-between w-full">
    <div class="flex items-center">
        <p class="flex items-center is-size-5 font-normal text-gray-500 dark:text-gray-400">
            
            <span>Join us March 20th for RethinkConn 2025! This is a free, virtual event for the NATS community! <a href="https://www.synadia.com/lp/rethink-conn-2025" class="inline font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline">Sign up today -></a></span>
        </p>
    </div>
    <div class="flex items-center">
       
    </div>
</div>

