
<div id="sticky-banner" tabindex="-1" class="notification is-info has-text-centered sticky-notification fixed top-0 start-0 z-50 flex justify-between w-full">
    <div class="flex items-center">
        <p class="flex items-center is-size-5 font-normal text-gray-500 dark:text-gray-400">
            
            <span>Looking Ahead with Clarity and Purpose for NATS.io. Read Synadia's response to the CNCF blog post <a href="https://www.synadia.com/blog/synadia-response-to-cncf" class="inline font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline">here.</a></span>
        </p>
    </div>
    <div class="flex items-center">
       
    </div>
</div>

