{{ $img := "img/logos/cncf-white.png" | relURL }}
<section class="section">
  <div class="container has-text-right">
    <img class="is-cncf-logo" src="{{ $img }}" alt="CNCF logo">
    <p class="is-size-5 is-size-5-mobile has-text-weight-light">
      NATS is a <a href="https://cncf.io">Cloud Native Computing Foundation</a> incubating project
    </p>
    
    <p class="has-text-weight-light">
      The Linux Foundation has registered trademarks and uses trademarks.<br>
      For a list of trademarks of The Linux Foundation, please see <a href="https://www.linuxfoundation.org/legal/trademark-usage" target="_blank">Trademark Usage page</a>.
    </p>
  </div>
</section>
