<section class="hero is-dark is-medium">
  <div class="background-con">
  <div class="hero-body">
    <div class="container has-text-centered">
      {{ partial "logo.html" (dict "logo" "hero" "class" true) }}

      <p class="subtitle is-size-2 is-size-4-mobile has-text-weight-light">

        Connective Technology for Adaptive Edge &  Distributed Systems <br/><br/>
      </p>

      <div class="buttons is-centered">
        <a class="button is-light is-medium has-text-weight-bold" href="https://docs.nats.io" target="_blank">
        <span class="icon">
            <i class="fas fa-lightbulb"></i>
          </span>
        <span>
            Learn More
          </span>
        </a>

        <a class="button is-light is-medium has-text-weight-bold" href="running-a-nats-service/introduction/installation" target="_blank">
        <span class="icon">
            <i class="fas fa-server"></i>
          </span>
        <span>
            Quick Start
          </span>
        </a>

    </div>
  </div>
  </div>
</section>
