<section class="hero is-dark is-medium">
  <div class="background-con">
  <div class="hero-body">
    <div class="container has-text-centered">
      {{ partial "logo.html" (dict "logo" "hero" "class" true) }}

      <p class="subtitle is-size-2 is-size-4-mobile has-text-weight-light">

        Cloud Native, Open Source, Secure, High-performance Messaging
      </p>

      <div class="buttons is-centered">
        <a class="button is-medium is-light-green has-text-weight-bold" href="https://docs.nats.io/whats-new">
          Learn more
        </a>
      </div>
    </div>
  </div>
  </div>
</section>
