<section class="section is-light">
  <div class="container">
    <div class="columns is-variable is-6 is-vcentered">
      <div class="column">
        <p class="title is-size-2 is-size-3-mobile has-text-weight-light">
          An Introduction to NATS
        </p>
        <p class="subtitle is-size-4 is-size-5-mobile has-text-weight-light">
          Learn fundamentals like the NATS CLI and core patterns like request/reply and pub/sub.
        </p>
      </div>

      <div class="column is-6">
        <iframe
          class="is-video"
          src="https://www.youtube.com/embed/hjXIUPZ7ArM"
          allowfullscreen=""
          style="position: relative; height: 315px; width: 560px;"
          frameborder="0"
        ></iframe>
      </div>
    </div>
  </div>
</section>
