{{ define "title" }}
NATS | Pages with the category {{ .Data.Term }}
{{ end }}

{{ define "main" }}
{{ $category := .Data.Term }}
{{ $pages    := .Data.Pages }}
<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <p class="title is-size-2 is-size-3-mobile has-text-weight-light">
        Pages with the category <span class="has-text-weight-bold">{{ $category }}</span>
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-variable is-6 is-multiline">
      {{ range $pages }}
      <div class="column is-one-third">
        <div class="card">
          <div class="card-content">
            <a class="is-size-5 is-size-6-mobile" href="{{ .RelPermalink }}">
              {{ .Title }}
            </a>

            <p class="has-text-grey-light has-top-margin-small">
              {{ .Section }}
            </p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
