{{ $languages := site.Data.language.language }}
{{ $clients := site.Data.clients }}

<div class="container content">
<div class="columns">
  <div class="column is-two-thirds">
<table>
  <thead>
  <tr>
    <th>
      Client Language
    </th>
    <!--<th>
      Repo
    </th> -->
    <th>
      Streaming
    </th>
    <th>
      Author
    </th>
  </thead>
  <tbody>
  {{ range $k, $v := $languages }}
  {{ $url  := printf "download/%s" ($v.name | urlize) | relURL }}
  <tr>
    <td>
       <a href="{{ $url }}">
        {{ $v.name }}
      </a>
    </td>
    <!--<td>
      {{ $n := len $v.orgs }}
      {{ range $idx, $a := $v.orgs }}
      {{ $isLast := eq (sub $n 1) $idx }}
      {{ if $a.link }}
      <a href="{{ $a.link }}/{{ $a.repo }}">
        {{ $a.repo }}
      </a>
      {{ else }}
      {{ $a.repo }}
      {{ end }}
      {{ if not $isLast }}<br />{{ end }}
      {{ end }}
    </td> -->

    <td>
      {{ $n := len $v.orgs }}
      {{ range $idx, $a := $v.orgs }}
      {{ $isLast := eq (sub $n 1) $idx }}
      {{ if $a.streaming_support }}
      <span>Streaming</span>
      </span>

      {{ end }}
      {{ if not $isLast }}<br />{{ end }}
      {{ end }}
    </td>

    <td>
      {{ $n := len $v.orgs }}
      {{ range $idx, $a := $v.orgs }}
      {{ $isLast := eq (sub $n 1) $idx }}
      {{ $official := eq $a.org "nats-io" }}
      {{ if $official }}
      {{ $a.author }}
          <span>
            <i class="fas fa-star fa-xs"></i>
          </span>
      {{ else }} {{ $a.author }}
      {{ end }}
      {{ if not $isLast }}<br />{{ end }}
      {{ end }}
    </td>

  </tr>
  {{ end }}
  </tbody>
</table>
</div>
</div>
</div>
