<style type="text/css">
  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  #email {
    width: 100%;
    padding: 8px;
    text-indent: 2%;
    border: 1px solid #abb0b2;
    border-radius: 3px;
  }

  #subscribe {
    color: white;
    background-color: #375c93;
    border: none;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  #subscribe:hover {
    background-color: #aaa;
  }

  #subscribe-message {
    margin-top: 16px;
    display: none;
    color: green;
    font: 14px Helvetica, Arial, sans-serif;
    font-weight: 700;
  }
</style>

<script>
  alert("Hello from the newsletter form!");
  function handleNewsletterFormSubmit(e) {
    e.preventDefault();
    e.stopPropagation();
    var email = document.getElementById("email").value;
    let portalId = "";
    let formId = "";
    var url = `https://api.hsforms.com/submissions/v3/integration/submit/sssynadia/${portalId}/${formId}`;
    var data = {
      email: email,
    };

    const errorMessage = "An error has occurred upon submission.";
    const successMessage = "Thank you for subscribing!";

    const payload = {
      fields: [
        {
          name: "email",
          value: email,
        },
      ],
      context: {
        pageUri: window.location.href,
        pageName: document.title,
      },
    };

    fetch(url, {
      method: "POST",
      body: JSON.stringify(payload),
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then(function (response) {
        if (response.ok) {
          document.getElementById("subscribe-message").style.display = "block";
          document.getElementById("subscribe-message").style.color = "green";
          document.getElementById("subscribe-message").style.fontWeight = "700";
          document.getElementById("subscribe-message").innerText =
            successMessage;
        } else {
          document.getElementById("subscribe-message").style.display = "block";
          document.getElementById("subscribe-message").style.color = "red";
          document.getElementById("subscribe-message").style.fontWeight = "700";
          document.getElementById("subscribe-message").innerText = errorMessage;
        }
      })
      .finally(() => {
        document.getElementById("subscribe-form").reset();
      });
  }
</script>

<form
  id="subscribe-form"
  name="subscribe-form"
  onsubmit="handleNewsletterFormSubmit(event)"
>
  <input
    type="email"
    placeholder="Enter your Email"
    value=""
    name="EMAIL"
    id="email"
    required
  />
  <!--Honeypot-->
  <input
    type="submit"
    value="Subscribe Today!"
    name="subscribe"
    id="subscribe"
    class="button"
  />
</form>
<div id="subscribe-message"></div>
