<style type="text/css">
  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  #email {
    width: 100%;
    padding: 8px;
    text-indent: 2%;
    border: 1px solid #abb0b2;
    border-radius: 3px;
  }

  #subscribe {
    color: white;
    background-color: #375c93;
    border: none;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  #subscribe:hover {
    background-color: #aaa;
  }

  #subscribe-message {
    margin-top: 16px;
    display: none;
    font: 14px Helvetica, Arial, sans-serif;
    font-weight: 700;
  }
</style>

<form
  id="subscribe-form"
  name="subscribe-form"
  onsubmit="handleNewsletterFormSubmit(event)"
>
  <input
    type="email"
    placeholder="Enter your Email"
    value=""
    name="EMAIL"
    id="email"
    required
  />
  <!--Honeypot-->
  <input
    type="submit"
    value="Subscribe Today!"
    name="subscribe"
    id="subscribe"
    class="button"
  />
</form>
<div id="subscribe-message"></div>
