{{ partial "header.html" . }}
<div id="main-con" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>NATS Blog</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      {{ range .Data.Pages }}
      <div class="well well-sm">
          <h3>
              <a href="{{ .Permalink }}">{{ .Title }}</a> <small class="pull-right">Posted on {{ .Date.Format "Jan 2, 2006" }}</small><br>
              <small>{{ .Description }}</small>
          </h3>
          <hr>
          <p>{{ .Summary }}</p>
          <a class="btn btn-primary btn-xs" href="{{ .Permalink }}">Read More <span class="fa fa-angle-double-right"></span></a>
      </div>
    	{{ end }}
    </div>
  </div>
  <div class="col-md-3">

  </div>
</div>
{{ partial "footer.html" . }}
