{{ partial "header.html" . }}
<div id="main-con" class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="download-intro-con" class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>Download</h1>
                    </div>
                    <p>Here you will find the NATS Server (for simple, fast publish-subscribe) , NATS Streaming Server (for data streaming and persistence), and officially supported clients. Our documentation provides detailed instructions on how to get started.</p>
                    <p>Also available are a wide variety of community contributed clients, connectors, and utilities. We are always happy to receive contributions to review - send us a PR, or contact us at info@nats.io to share what you have built with us!</p>
                </div>
            </div>

            {{ partial "menu-downloads.html" . }}

            <hr>

            {{ partial "addons.html" . }}
        </div>
        <div class="external-clients-con col-md-12">
            <p><em>Please <a href="mailto:info@nats.io?subject=NATS External Client">contact us</a> to add your external
                client to the download list.</em></p>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
