@font-face {
    font-family: 'nats';
    src:    url('/fonts/nats.eot?22bw7o');
    src:    url('/fonts/nats.eot?22bw7o#iefix') format('embedded-opentype'),
        url('/fonts/nats.ttf?22bw7o') format('truetype'),
        url('/fonts/nats.woff?22bw7o') format('woff'),
        url('/fonts/nats.svg?22bw7o#nats') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'nats' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
    content: "\e905";
}
.icon-slack:before {
    content: "\e900";
}
.icon-backward2:before {
    content: "\e902";
}
.icon-forward3:before {
    content: "\e903";
}
.icon-twitter:before {
    content: "\e904";
}
.icon-github:before {
    content: "\e901";
}
